@font-face {
    font-family: 'cera_round_black';
    src: url('../fonts/ceraround-black.woff2') format('woff2'),
         url('../fonts/ceraround-black.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'cera_round_bold';
    src: url('../fonts/ceraround-bold.woff2') format('woff2'),
         url('../fonts/ceraround-bold.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'cera_round_medium';
    src: url('../fonts/ceraround-medium.woff2') format('woff2'),
         url('../fonts/ceraround-medium.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'cera_round_regular';
    src: url('../fonts/ceraround-regular.woff2') format('woff2'),
         url('../fonts/ceraround-regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'cera_round_light';
    src: url('../fonts/ceraround-light.woff2') format('woff2'),
         url('../fonts/ceraround-light.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'cera_round_thin';
    src: url('../fonts/ceraround-thin.woff2') format('woff2'),
         url('../fonts/ceraround-thin.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}