//FONTS
$cera-round-900: 'cera_round_black';
$cera-round-700: 'cera_round_bold';
$cera-round-600: 'cera_round_medium';
$cera-round-400: 'cera_round_regular';
$cera-round-300: 'cera_round_light';
$cera-round-200: 'cera_round_thin';

//COLOR
$blue: #243366;
$red: #CC3B30;
$processing: #F06531;
$preparing: #FAAF57;
$sent: #63A6F5;
$delivered: #54CB87;
$return: #663ab6;
