@import 'ceraround';
@import 'variables';
@import 'mixins';
@import 'reset';

body {
	font-size: 100%;
	font-family: $cera-round-400;
}

@include selection {
	background-color: $blue;
	color: white;
}

.tooltip {
	.tooltip-inner {
		padding: 1em;
		background-color: rgba(36,51,102,.95);
		font-size: .813em;
		line-height: 1.25em;
		border-radius: 8px;
		box-shadow: 5px 5px 20px rgba(36,51,102,.5);
	}
	.arrow {
		&:before {
			border-top-color: rgba(36,51,102,.95);
		}
	}
}

.tracking-section {
	padding: 3em 0;
	.head-tracking {
		display: flex;
		flex-direction: column;
		align-items: center;
		&__logo {
			display: block;
		}
		h1 {
			padding: 1em 0 .15em;
			font-size: 2em;
			color: $blue;
			font-family: $cera-round-900;
		}
		p {
			padding: 0;
			font-size: 1em;
			color: $blue;
		}
	}
	.input-tracking {
		display: flex;
		justify-content: center;
		align-items: flex-end;
		padding: 1.5em 0 0;
		&__txt {
			label {
				display: block;
				margin: 0 0 .15em;
				font-size: 1em;
				color: $red;
				font-family: $cera-round-700;
			}
			input {
				display: block;
				width: 400px;
				height: 45px;
				padding-left: 1.5em;
				border: 1px solid $red;
				border-radius: 8px;
				transition: .3s;
				@include placeholder {
					color: #999999;
				}
				&:focus {
					box-shadow: 0 0 0 5px rgba(204,59,48,.2);
				}
			}
		}
		button {
			display: block;
			width: 125px;
			height: 45px;
			margin-left: .5em;
			background-color: $red;
			border: 1px solid $red;
			border-radius: 8px;
			font-size: 1.125em;
			color: white;
			font-family: $cera-round-700;
			text-transform: uppercase;
			transition: .3s;
			&:hover {
				background-color: $blue;
				border-color: $blue;
			}
			&:active {
				transform: scale(1.1);
			}
		}
	}
	.tracking-info {
		position: relative;
		padding: 3.5em 0 0;
		opacity: 0;
		visibility: hidden;
		top: -50px;
		transition: .5s;
		&__list {
			display: flex;
			justify-content: center;
			ul {
				display: flex;
				align-items: center;
				padding: 0 1.5em;
				li {
					color: $blue;
					&:first-child {
						padding-right: .5em;
						font-family: $cera-round-700;
					}
					&.status-info {
						display: flex;
						align-items: center;
						span {
							display: block;
							padding-right: .35em;
							font-family: $cera-round-700;
						}
						i {
							display: block;
						}
					}
				}
			}
		}
		&__status {
			display: flex;
			justify-content: center;
			padding: 2.5em 0 0;
			.status-col {
				position: relative;
				padding: 0 5em;
				&__circle {
					position: relative;
					display: flex;
					justify-content: center;
					align-items: center;
					width: 120px;
					height: 120px;
					border-radius: 100%;
					background-color: #F2F2F2;
					i {
						display: block;
						font-size: 2.875em;
						color: #999999;
					}
				}
				h3 {
					opacity: 0;
					padding: .65em 0 0;
					width: 120px;
					font-size: 1em;
					color: #999999;
					text-align: center;
					font-family: $cera-round-700;
				}
				&--canceled, &--first, &--second, &--first-store {
					.status-col {
						&__circle {
							&:after {
								content: '';
								position: absolute;
								width: 170px;
								height: 8px;
								background-color: #F2F2F2;
								right: -170px;
								@include center-y;
							}
						}
					}
				}
				&--canceled {
					display: none;
					.status-col {
						&__circle {
							background-color: $red;
							box-shadow: 0 0 25px rgba(204,59,48,.8);
							i {
								font-size: 3.5em;
								color: white;
							}
							&:after {
								background-color: $red;
							}
						}
					}
				}
			}
		}
		&.store {
			.status-col {
				&--first, &--second, &--third {
					display: none;
				}
			}
		}
		&.active-delivery {
			opacity: 1;
			visibility: visible;
			top: 0;
			.status-col {
				&--first-store, &--second-store {
					display: none;
				}
			}
		}
		&.active-store {
			opacity: 1;
			visibility: visible;
			top: 0;
			.status-col {
				&--first, &--second, &--third {
					display: none;
				}
			}
		}
		&.processing {
			.status-info {
				color: $processing;
			}
		}
		&.canceled {
			.status-info {
				color: $red;
			}
			.status-col {
				&--canceled {
					display: block;
					h3 {
						opacity: 1;
						color: $red;
					}
				}
				&--first, &--first-store {
					display: none;
				}
			}
		}
		&.preparing {
			.status-info {
				color: $preparing;
			}
			.status-col {
				&--first, &--first-store {
					.status-col {
						&__circle {
							background-color: $preparing;
							box-shadow: 0 0 25px rgba(250,175,87,.8);
							i {
								color: white;
							}
							&:after {
								background-color: $preparing;
							}
						}
					}
					h3 {
						opacity: 1;
						color: $preparing;
					}
				}
			}
		}
		&.sent {
			.status-info {
				color: $sent;
			}
			.status-col {
				&--first {
					.status-col {
						&__circle {
							background-color: $preparing;
							box-shadow: 0 0 25px rgba(250,175,87,.8);
							i {
								color: white;
							}
							&:after {
								background-color: $preparing;
							}
						}
					}
					h3 {
						opacity: 1;
						color: $preparing;
					}
				}
				&--second {
					.status-col {
						&__circle {
							background-color: $sent;
							box-shadow: 0 0 25px rgba(99,166,245,.8);
							i {
								color: white;
							}
							&:after {
								background-color: $sent;
							}
						}
					}
					h3 {
						opacity: 1;
						color: $sent;
					}
				}
			}
		}
		&.delivered {
			.status-info {
				color: $delivered;
			}
			.status-col {
				&--first, &--first-store {
					.status-col {
						&__circle {
							background-color: $preparing;
							box-shadow: 0 0 25px rgba(250,175,87,.8);
							i {
								color: white;
							}
							&:after {
								background-color: $preparing;
							}
						}
					}
					h3 {
						opacity: 1;
						color: $preparing;
					}
				}
				&--second {
					.status-col {
						&__circle {
							background-color: $sent;
							box-shadow: 0 0 25px rgba(99,166,245,.8);
							i {
								color: white;
							}
							&:after {
								background-color: $sent;
							}
						}
					}
					h3 {
						opacity: 1;
						color: $sent;
					}
				}
				&--third, &--second-store {
					.status-col {
						&__circle {
							background-color: $delivered;
							box-shadow: 0 0 25px rgba(84,203,135,.8);
							i {
								color: white;
							}
							&:after {
								background-color: $delivered;
							}
						}
					}
					h3 {
						opacity: 1;
						color: $delivered;
					}
				}
			}
		}
	}
}